@use './variables' as var;

%overlay {
  position: absolute;
  inset: 0 0 0 0;
  opacity: 0;
  transition: var.$transition-primary;
}


%btn-hover {
  background-color: var.$light-red;
  color: var.$white;
}


%btn-active {
  background-color: var.$light-red;
  color: var.$black;
}


%btn {
  padding: 0.4em 0.9em;
  border: none;
  background-color: var.$light-red;
  border-radius: 4px;
  transition: var.$transition-primary;
}

%flex-just-between {
  display: flex;
  justify-content: space-between;
}