@use '../abstract/variables' as var;
@use '../abstract/breakpoints' as viewport;


.layer {
  background-color: var.$gray;
  width: 30px;
  height: 2px;
}

// background
.bg-black {
  background-color: var.$black;
}
.bg-white {
  background-color: var.$white-2;
}
.bg-white-2 {
  background-color: var.$white;
}

// colors
.clr-light-red {
  color: var.$light-red;
}
.clr-black {
  color: var.$black;
}
.clr-gray {
  color: var.$gray-3;
}

// font-size
.fs-14 {
  font-size: var.$fs-14;
}
.fs-15 {
  font-size: var.$fs-15;
}
.fs-16 {
  font-size: 1rem;
}
.fs-18 {
  font-size: var.$fs-18;
}


// font-weight 
.fw-600 {
  font-weight: 600;
}


// position items
.pos-item {
  position: absolute;
  right: 0;

  &-2 {
    position: absolute;
    right: 0;
  }
}
.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}


// margins
.mar {
  margin: 2rem 1rem;
}
.mar-right {
  margin-right: 1rem;
}
.mar-x {
  margin: 0 1rem;

  &-2 {
    @include viewport.large {
      margin: 0 3rem;
    }
  }
}
.mar-x-auto {
  margin: 0 auto;
}
.mar-y {
  margin: 1rem 0
}
.mar-y-2 {
  margin: 2rem 0;
}
.mar-bot {
  margin-bottom: 0.2rem;
}
.mar-bot-2 {
  margin-bottom: 1rem;
}
.mar-bot-3 {
  margin-bottom: 2rem;
}
.mar-bot-5 {
  margin-bottom: 0.9rem;
}
.mar-bot-6 {
  margin-bottom: 0.5rem;
}


// paddings
.pad-1 {
  padding: 1em;
}
.pad-2 {
  padding: 2em 1em;
}
.pad-3 {
  @include viewport.large {
    padding: 0 4em;
  }
}
.pad-4 {
  @include viewport.large {
    padding: 0 3em;
  }
}
.pad-5 {
  padding: 0.5em 0.2em;
}
.pad-6 {
  padding: 0 1.5em;
}
.pad-7 {
  margin: 0 0.5em;
}
.pad-8 {
  @include viewport.large {
    padding: 0 3em;
  }
}
.pad-9 {
  padding: 0 1.5em 2em;
}
// hide element
.hide-in-mobile {
  display: none;
}


// overflows
.overflow-hidden {
  overflow-x: hidden;
}
.overflow-hidden-2 {
  overflow: hidden;
}

// stars
.star {
  color: var.$light-red;
  margin: 0 0.1rem;
  transition: var.$transition-primary;
}


// text-alignment
.align-just {
  text-align: justify;
}


// show or hide element
.show {
  height: 272px;
}
.show-2 {
  height: fit-content;
}
.show-3 {
  display: block;
}


// push element
.push-right {
  @include viewport.large {
    margin-left: auto;
  }
}


//arrow
.arrow {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.arrow-2::before {
  content: '\f061';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  padding-right: 5px;
}

// list
.style-type-none {
  list-style-type: none;
}


// borders
.border-red {
  border: 1px solid var.$light-red;
  padding: 1px;
}