@use '../abstract/placeholders' as *;
@use '../abstract/breakpoints' as viewport;

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column
}

.flex-container {
  &-1 {
    @extend %flex-just-between;
    flex-direction: column;
  }


  &-2 {
    @extend %flex-just-between;
  }

  &-3 {
    @extend %flex-just-between;
    align-items: center;
  }

  &-4 {
    display: flex;
    gap: 0 10px;
  }

  &-5 {
    display: flex;
    gap: 0 10px;
    justify-content: center;
  }

  &-6 {
    display: flex;
    align-items: center;
  }
}


.flex-container-responsive {
  @include viewport.large {
    display: flex;
    gap: 0 20px;
  }

  &-1 {
    @include viewport.medium {
      display: flex;
      justify-content: space-between;
    }
  }


  &-2 {
    @include viewport.medium {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0 10px;
    }
  }


  &-3 {
    @include viewport.large {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}