@use '../abstract/placeholders' as *;
@use '../abstract/breakpoints' as viewport;

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

// flex containers
.flex-container-1 {
  @extend %flex-just-between;
  flex-direction: column;
}


.flex-container-2 {
  @extend %flex-just-between;
}

.flex-container-3 {
  @extend %flex-just-between;
  align-items: center;
}

.flex-container-4 {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.flex-container-5 {
  display: flex;
  gap: 0 10px;
  justify-content: center;
}

.flex-container-6 {
  display: flex;
  align-items: center;
}
// end of flex containers

// responsive flex-container
.flex-container-responsive {
  @include viewport.large {
    display: flex;
    gap: 0 20px;
  }
}

.flex-container-responsive-1 {
  @include viewport.medium {
    display: flex;
    justify-content: space-between;
  }
}


.flex-container-responsive-2 {
  @include viewport.medium {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
  }
}


.flex-container-responsive-3 {
  @include viewport.large {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
// end of responsive flex containers