@use '../abstract/breakpoints' as viewport;

.form {
  &-1 {
    position: relative;
    margin: 1rem 0;
    overflow: hidden;

    &--max-width {
      max-width: 400px;
    }

    @include viewport.medium {
      flex: 12;
    }
  }
}