@use '../abstract/breakpoints' as viewport;

.grid {
  display: grid;

  &-center {
    display: grid;
    place-items: center;
  }


  &-align-center {
    align-items: center;
  }
}


.grid-2-column {
  &-1 {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
  }
}


.grid-3-column {
  &-1 {
    @include viewport.sm {
      display: grid;
      grid-template-columns:repeat(3, 1fr);
    }
  }
}

// 2 COLUMN RESPONSIVE
.grid-2-column-responsive-1 {
  @include viewport.medium {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 0 20px;
  }


  @include viewport.xl {
    grid-template-columns: 1fr 480px;
  }
}

.grid-2-column-responsive-2 {
  @include viewport.medium {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @include viewport.large {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
}


.grid-2-column-responsive-3 {
  @include viewport.large {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
  }


  @include viewport.xl {
    display: grid;
    grid-template-columns: 480px 1fr;
    gap: 20px;
  }
}


.grid-2-column-responsive-4 {
  @include viewport.medium {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}


.grid-2-column-responsive-5 {
  @include viewport.large {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 20px;
  }
}

.grid-2-column-responsive-6 {
  @include viewport.medium {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
  }
}
// END OF 2 COLUMN RESPONSIVE


// 3 COLUMN RESPONSIVE
.grid-3-column-responsive {
  @include viewport.medium {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}


.grid-3-column-responsive-2 {
  @include viewport.medium {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }

  @include viewport.xl {
    gap: 20px;
  }
}
// END OF 3 COLUMN RESPONSIVE



.grid-container {
  &-1 {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;


    @include viewport.medium {
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
    }


    @include viewport.large {
      grid-template-columns: 250px 1fr 250px;
    }


    @include viewport.xl {
      grid-template-columns: 400px 1fr 400px;
    }
  }
}


.grid-container-responsive {
  &-1 {
    @include viewport.medium {
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(3, 200px);
    }
  }
}


.grid-span {
  &-all-row {
    grid-row: 1 / -1;
  }

  &-2-row {
    grid-row : 1 / 3
  }

  &-2-row-2 {
    grid-row: 2 / -1;
  }
}

.grid-align {
  &-column-2 {
    grid-column: 2 / 3;
  }

  &-row-1 {
    grid-row: 1 / 2;
  }
}